#cirkel {
  border-radius: 50%;
  width: 7.5em ;
  height: 7.5em;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
  color: white;
  text-align: center;
  line-height: 7.5em;
  font-size: 40px;
}
